        body { 
            background-color: #E9E2AB;
            font-family: Arial, sans-serif; 
            margin: 0; 
            padding: 0;
            line-height: 1.6;
        }


        header { 
            background: #333229; 
            color: white; 
            padding: 10px;
        }


        .container { 
            width: 80%; 
            margin: 0 auto;
            padding: 20px;
        }

        /*ESTILO DE LA NAV BAR*/
        nav a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        nav img {
            height: 50px;
            vertical-align: middle;
            margin-right: 15px;
        }
        nav img:hover {
            scale: 1.1;
        }
        .logOut {
            top: 5px;
            right: 20px;
            padding: 10px 20px;
            background-color: #EBB436;
            color: #524F31;
            text-decoration: none;
            border: 2px solid  #333229;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;
            float: right;
        }
        /*FIN DEL ESTILO DE LA NAV BAR*/

        .active { 
            font-weight: bold; 
        }
        .error {
            color: red;
            margin-bottom: 1rem;
        }
        form div {
            margin-bottom: 1rem;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            padding: 8px 16px;
            background: #333;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #555;
        }
        .alert {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 4px;
        }
        .alert-error {
            background-color: #f8d7da;
            color: #721c24;
        }
        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }

	.tabla , td, th{
		border: 1px solid navy;
	    border-collapse: collapse;	
		padding: 5px;	
		}

    /*Estilo de los formularios*/
    .formContainer {
        display: flex;
        justify-content: center;
    }

    .formContainer form {
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: center;
        text-align: left;
    }
    .formContainer input {
        margin-top: 20px;
    }
    .formContainer button {
        margin-top: 10px;
        width: 200px;
    }
    /*Fin de tabla de formulario*/

    /*Estilo de las tablas*/

    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }